body {
    margin: 0%;
    background-image: url(./assetssic/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




/*header*/
header {

    background-color: #40478a;
    /* Color de fondo */
    color: rgb(255, 255, 255);
    /* Color del texto */
    font-size: 1.5em;
    /* Tamaño de la letra */
    text-align: center;
    /* Centra el texto */
    justify-content: center;
    /* Centra los elementos horizontalmente*/
    align-items: center;
    /* Centra los elementos verticalmente */
    display: flex;
    border-bottom: 5px solid #1b2e61;
    /*hace un borde inferior y tambien lo colorea*/
}

.logo {
    display: flex;
    align-items: baseline;
    width: 100px;
    height: auto;
    justify-content: end;
    border-radius: 10em;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0%;
}

span {
    color: rgb(157, 205, 248);
    font-size: 1, 5em;
}


/*main*/


.h2m {
    color: #1b2e61;


}


main {
    margin-top: 4em;
    /*es para agrandar el margin superior*/
    margin: 4em 0;
    /*es para agrandar el margin inferior*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

nav {
    background-color: rgb(157, 205, 248);
    padding: 1em;
    border-bottom: 5px solid #1b2e61;
}


nav ul {

    list-style: none;
    /*saca las viñetas*/
    display: flex;
    justify-content: center;
    gap: 3em;
    margin: 0%;

}

nav ul li {

    padding: 6px;
    border-radius: 6px;
}

nav a {
    padding: 10px;
    color: white;
    font-weight: 900;
    text-decoration: none;
    font-size: 1.5em;

}

nav a:hover {
    color: #1b2e61;
    border-radius: 2px solid #1b2e61;
}

.img {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    border: 5px solid #1b2e61;

}

.one {
    display: flex;
    justify-content: center;

}

.onetext {
    margin: 0;
    /*nada de margin*/
    margin-right: 3em;
    /*margin derecho*/
    font-size: 1.5em;
    /*tamaño de letra*/


}

.two {
    display: flex;
    /**/
    flex-direction: row;
    /*pone los elementos en fila*/
    justify-content: center;
    /*centra los elementos horizontalmente*/
    margin-top: 5em;
    /*separe la caja1 de la caja2*/

}

.twotext {
    margin: 0;
    margin-left: 3em;
    font-size: 1.5em;

}

/*footer*/

footer {
    background-color: #201E1F;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 10px solid #1b2e61;
}

h3 {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;

}

a {
    text-decoration: none;
    color: white;
}


.logos {
    width: 35px;
    height: 35px;
}

.rs {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0%;
    align-items: center;

}

.dueño {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
}

.hecho {
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    align-items: center;
}

/*termina el inici/menu/index*/

/*servicios*/

.h1s {
    /*h1 principal*/
    color: #ffffff;
    margin-left: 1.5em;
}

.psh1 {
    /*p principal*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 1.5em;
    font-size: 1.5em;
}

.h1ss {
    /*h1 secu*/
    color: white;
    text-align: center;
}

.hds {
    /*h2 pri*/
    color: white;
    margin-left: 1.5em;
}

.ps {
    /*p secu*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 1.5em;
    font-size: 1.5em;
}

/*mains*/

.boxs {
    background-color: #40478a;
    border-radius: 20px;
    border: 5px solid #1b2e61;
    text-align: center;
    margin-bottom: 5em;
    margin: 2em;
}

.boxs2 {
    background-color: #40478a;
    border-radius: 20px;
    border: 5px solid #1b2e61;
    margin: 2em;

}

/*+proyectos main*/

/*main*/

main {
    margin-left: 4em;
}

.h1-proyectos {
    color: #1b2e61;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

/*section*/

.section-proyectos {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*divs*/

.div-proyectos-1 {
    margin-bottom: 2em;
}

.div-proyectos-2 {
    margin-bottom: 2em;
}

.div-proyectos-3 {
    margin-bottom: 2em;
}

/*imgs*/

.img-masproyectos {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    border: 5px solid #1b2e61;
    margin-bottom: 4em;
}

/*texto*/

/*nosotros main*/

.img1 {
    border-radius: 20px;
    border: 5px solid #1b2e61;
    width: 60em;
    height: 35em;
}

.section-nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1-contenido-nosotros {
    background-color: #40478a;
    border-radius: 20px;
    border: 5px solid #1b2e61;
    text-align: center;
    margin-bottom: 5em;
    margin: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 1.5em;
    font-size: 1.5em;
    padding: 30px;
    height: 23em;
    width: 17em;
}

.logod1 {
    border-radius: 10em;
}


/*contactanos main*/